.suggest-by-preference
  %p You like these things:
  = current_user.preference_list

  %p These hot dogs like the same things too: 
  - suggested_dates = current_user.find_related_preferences
  - suggested_dates.each do |dog|
    =link_to(dog.dog_name, user_path(dog))