#about-us
  %section.window#1
    %p#hotdogs Hotdogs
    = render :partial => 'layouts/register'
  %section.window#2
    %h2 about us
    %p HotDogs.com serves as an online community for pet owners who want their dogs to enjoy a long, healthy, and fulfilling life not only at home but also in the company of other dogs. 
    %p As people we build strong emotional bonds with our pets, often treating them as members of the family. This however should not undermine the importance of interspecicies bonding.
    
  %section.window#3
    %h2 tailor
    %p By choosing to become a member of our unique, HotDogs community, you will be able to show off your dog to the rest of the dog owners, while having access to useful information from a variety of resources. Whether you are looking to: find another dog to join yours in the park, find an answer to a question, or simply share your thoughts on pet ownership, you will find it here! We encourage dog owners to become members, allowing everyone to be familiar with all the dogs in their community.
  %section.window#4
    %h2 match
    %p Consider those unfortunate, heart wrenching moments when your pet has gone missing... With a strong community that recognizes you as one of its members, you and your pet will have security in others. Log in to HotDogs.com and become a member of a community that supports animal rights and strongly encourages humane treatment of pets and people alike.
  %section.window#5
    %h2 date
    %p Consider those unfortunate, heart wrenching moments when your pet has gone missing... With a strong community that recognizes you as one of its members, you and your pet will have security in others. Log in to HotDogs.com and become a member of a community that supports animal rights and strongly encourages humane treatment of pets and people alike.

  %section.window#6
    %h2 community
    %p Consider those unfortunate, heart wrenching moments when your pet has gone missing... With a strong community that recognizes you as one of its members, you and your pet will have security in others. Log in to HotDogs.com and become a member of a community that supports animal rights and strongly encourages humane treatment of pets and people alike.
  %section.window#7
    %h2 *woof woof*
    = render :partial => 'layouts/register'
