// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chatarea{
  width:300px;
  height:300px;
  border: 1px solid lightblue;
  margin: 0 auto;
}

#messagesbox{
  width:250px;
  height:200px;
  border: 1px solid lightblue;
  margin: 10px auto;
  margin-bottom:10px;
  overflow: scroll;
}

